.App {
  text-align: center;
  background-color: rgb(154, 80, 80);
  min-height: 60vh;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
}

.django-logo {
	margin-top: 20vh;
	height: 40vmin;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
