{% extends "base.html" %}
{% block content %}
</br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for object in object_list %}
    <div class="col">
      <div class="card h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body"> 
          <h5 class="card-title">
            {{ object.name }}
          </h5>
          <p class="card-text">
            {{ object.description }} 
          </p>
          <a href="{% url 'Teknik_TeknikBooking_create_with_item' object.id %}" class="btn btn-primary">Book mig!</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<br>
{% endblock %}

