
services:
  db:
    image: postgres:15
    container_name: booking_db
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data_production:/var/lib/postgresql/data

  redis:
      image: redis:7-alpine
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      # This maps your local config file into the container
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles:ro
      - media_volume:/app/media:ro
    depends_on:
      - web

  web:
      container_name: django_app_production
      image: mglavind/booking-app:latest 
      restart: always
      volumes:
        - static_volume:/app/staticfiles 
        - media_volume:/app/media
      depends_on:
        - db
        - redis
      env_file:
        - .env.prod
      environment:
        DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
        DEBUG: ${DEBUG}
        DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
        DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        ENVIRONMENT: ${ENVIRONMENT}
        REDIS_URL: redis://redis:6379/0



volumes:
  postgres_data_production:
  static_volume:
  media_volume: