services:
  db:
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_staging:/var/lib/postgresql/data
    env_file:
      - .env.staging
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
      image: redis:7-alpine
      ports:
        - "6379:6379"
  nginx:
    image: nginx:alpine
    ports:
      - "8001:80"
    volumes:
      # This maps your local config file into the container
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      # These volumes connect Nginx to the files Django collects
      - static_volume:/vol/static
      - media_volume:/vol/media
    depends_on:
      - web

  web:
    container_name: django_app_staging
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./src:/app
      - static_volume:/app/staticfiles 
      - media_volume:/app/media
    env_file:
      - .env.staging
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: ${DEBUG}
      DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      ENVIRONMENT: ${ENVIRONMENT}
      REDIS_URL: redis://redis:6379/0
    
    command: sh -c "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"

volumes:
  postgres_data_staging:
  static_volume:        # <--- Add this
  media_volume:         # <--- Add this