services:
  db:
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    env_file:
      - .env.prod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DATABASE_NAME} -U ${DATABASE_USERNAME}"]
      interval: 10s
      timeout: 5s
      retries: 5


  web:
    container_name: django_app_prod
    ports:
      - "8002:8000"
    restart: always
    volumes: []  # No volume mounts for production (baked into image)
    environment:
      DEBUG: "False"
    env_file:
      - .env.prod

volumes:
  postgres_data_prod: