{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Det nye booking system</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>

    {% block extra_css %}{% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="pt-0">

    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Hjem</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Organisation
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'organization_Volunteer_list' %}" class="dropdown-item">Medarbejdere</a></li>
                                <li><a href="{% url 'organization_Key_list' %}" class="dropdown-item">Nøgler</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Områder</h6></li>
                                <li><a href="https://docs.google.com/spreadsheets/d/1TzMOE_wE11p_s2DtMjzeDxNnXa9ENRDQZDnkm5bcqt0/edit?gid=0#gid=0" class="dropdown-item">Alle bookinger</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Butikken
                            </a>
                            <ul class="dropdown-menu">
                                <li><h6 class="dropdown-header">Varer & Lager</h6></li>
                                <li><a class="dropdown-item" href="{% url 'Butikken_ButikkenItem_list' %}">Varekatalog</a></li>
                                <li><a class="dropdown-item" href="{% url 'Butikken_ButikkenBooking_list' %}">Varebestillinger</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Mad & Forplejning</h6></li>
                                <li><a class="dropdown-item" href="{% url 'Butikken_TeamMealPlan_list' %}">Måltidsbestillinger</a></li>
                                <li><a class="dropdown-item" href="{% url 'Butikken_Recipe_list' %}">Måltidspakker</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Aktivitetsteam
                            </a>
                            <ul class="dropdown-menu">
                                <li><h6 class="dropdown-header">Aktiviteter</h6></li>
                                <li><a class="dropdown-item" href="{% url 'AktivitetsTeam_AktivitetsTeamItem_list' %}">Aktivitetskatalog</a></li>
                                <li><a class="dropdown-item" href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_list' %}">Aktivitetsbookinger</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-primary" href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_create' %}">Opret ny booking</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sjak
                            </a>
                            <ul class="dropdown-menu">
                                <li><h6 class="dropdown-header">Lager & Materialer</h6></li>
                                <li><a class="dropdown-item" href="{% url 'Sjak_SjakItem_list' %}">Varekatalog</a></li>
                                <li><a class="dropdown-item" href="{% url 'Sjak_SjakItemType_list' %}">Kategorier</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Bookinger</h6></li>
                                <li><a class="dropdown-item" href="{% url 'Sjak_SjakBooking_list' %}">Alle bookinger</a></li>
                                <li><a class="dropdown-item text-primary" href="{% url 'Sjak_SjakBooking_create' %}">Opret Sjak booking</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                <div class="d-flex align-items-center">
                    {% if user.is_authenticated %}
                        {% if request.user.is_staff %}
                            <a class="btn btn-outline-light btn-sm me-3" href="{% url 'admin:index' %}">Adminstrator</a>
                        {% endif %}

                        <div class="nav-item dropdown">
                            <a class="nav-link d-flex align-items-center text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-2">Hej {{ user.first_name }}!</span>
                                {% bs_icon 'person-circle' %} 
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'organization_Volunteer_detail' request.user.pk %}">Min profil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout_user' %}">Log ud</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% bootstrap_messages %}

        {% block app_content %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>

    <script type="text/javascript">window.$sleek=[];window.SLEEK_PRODUCT_ID=535324369;(function(){d=document;s=d.createElement("script");s.src="https://client.sleekplan.com/sdk/e.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>  

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

    {% block extra_js %}{% endblock %}
</body>
</html>