{% load bootstrap_icons %}

<div class="mx-auto my-5 input-group container" >
    <div class="container" >
        <form>
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> {% bs_icon 'search' %} </span>
                <input type="text" 
                    hx-post="{% url 'search-item' %}" 
                    hx-target='#results'
                    hx-trigger="keyup changed delay:100ms"
                    name="search"
                    class="form-control form-control-lg" 
                    placeholder="Søg efter Sjak ting"/>
              </div>

        </form>
    </div>
    <div id="results" class="container"></div>

</div>

