{% extends "base.html" %}
{% block content %}
{% load bootstrap_icons %}
{% load comments %}
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Hjem</a></li>
    <li class="breadcrumb-item active" aria-current="page">Foto Bookinger</li>
  </ol>
</nav>

<br>

{% if request.user.is_authenticated %}
  <h5>Booking oversigt for team: 
    {% with volunteer_team_memberships=request.user.teammembership_set.all %}
      {% if volunteer_team_memberships %}
        {{ volunteer_team_memberships.first.team.name }}
      {% endif %}
    {% endwith %}
  </h5>
{% endif %}

<div>
  {% if user.events.exists %}
    Deadline for Foto bookinger: {{ user.events.first.deadline_Foto }}
  {% else %}
    No events found for the user.
  {% endif %}
</div>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Antal</th>
      <th scope="col">Fra</th>
      <th scope="col">Til</th>
      <th scope="col">Booket af</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
      {% if user.is_staff%}
        <th scope="col">Godkendelse</th>
      {% endif %}
    </tr>
  </thead>


  <tbody>
    {% with user_team_membership=request.user.teammembership_set.first %}
    
    {% if user_team_membership %}
      {% for object in object_list %}
        {% if not user.is_staff %}
          {% if user_team_membership.team.name and object.team == user_team_membership.team %}
            <tr>
              <th scope="row">{{ object.id}}</th>
              <td><a href="{{object.get_absolute_url}}">{{object.item}}</a>  </td>
              <td>{{object.start_date}} - {{object.start_time}}</td>
              <td>{{object.end_date}} - {{object.end_time}}</td>
              <td>{{object.team_contact}}</td>
              <td>
                {% if object.status == 'Pending' %}
                  <span class="badge bg-warning text-dark">
                    <small>Afventer</small>
                  </span>
                {% elif object.status == 'Approved' %}
                  <span class="badge bg-success">
                    <small>Godkendt</small>
                  </span>
                {% elif object.status == 'Rejected' %}
                  <span class="badge bg-danger">
                    <small>Afvist</small>
                  </span>
                {% endif %}
              </td>

              <td>
                <a href="{% url 'Foto_FotoBooking_update' object.pk %}" class="btn btn-outline-warning btn-sm disabled">
                  {% bs_icon 'pencil' %}  
                </a>
                <a href="{% url 'Foto_FotoBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm disabled">
                  {% bs_icon 'trash' %}  
                </a>
              </td>
            </tr>
        {% endif %}
        {% else %}
          <tr>
            <th scope="row">{{ object.id}}</th>
            <td><a href="{{object.get_absolute_url}}">{{object.item}}</a>  </td>
            <td>{{object.start_date}} - {{object.start_time}}</td>
            <td>{{object.end_date}} - {{object.end_time}}</td>
            <td>{{object.team_contact}}</td>
            <td>
              {% if object.status == 'Pending' %}
                <span class="badge bg-warning text-dark">
                  <small>Afventer</small>
                </span>
              {% elif object.status == 'Approved' %}
                <span class="badge bg-success">
                  <small>Godkendt</small>
                </span>
              {% elif object.status == 'Rejected' %}
                <span class="badge bg-danger">
                  <small>Afvist</small>
                </span>
              {% endif %}
            </td>
            <td>
                  <a href="{% url 'Foto_FotoBooking_detail' object.pk %}" class="btn btn-primary btn-sm">
                      {% bs_icon 'eye-fill' %}
                  </a>
                  <a href="{% url 'Foto_FotoBooking_delete' object.pk %}" class="btn btn-outline-danger btn-sm">
                      {% bs_icon 'trash' %}
                  </a>
            </td>
            <td>
              <div class="d-flex gap-2 align-items-center">
                  <form method="post" action="{% url 'Foto_FotoBooking_reject' object.pk %}?next=Foto_FotoBooking_list" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm d-flex align-items-center">{% bs_icon 'x-lg' %}</button>
                  </form>
                  <form method="post" action="{% url 'Foto_FotoBooking_approve' object.pk %}?next=Foto_FotoBooking_list" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-success btn-sm d-flex align-items-center">{% bs_icon 'check-circle-fill' %}</button>
                  </form>
              </div>
          </td>    
          <td>
            {% get_comment_count for object as comment_count %}
            {% if comment_count %}
                <a href="{{object.get_absolute_url}}" class="btn btn-outline-secondary btn-sm">
                    {{ comment_count }} {% bs_icon 'chat-left-dots' %}
                </a>
            {% endif %}
          </td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}
  </tbody>
</table>

<div>
  <a class="btn btn-primary"
    href="{% url 'Foto_FotoBooking_create' %}">
    Ny Foto booking
  </a>

</div>
{% endblock %}
