{% autoescape off %}
  Halløj! Du har bedt om at få dit kodeord nulstillet på SKS's booking system, for din bruger med den her email: {{ user.email }}

  For at få nulstillet dit kodeord, skal du blot følge linket herunder:
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  Hvis det ikke virker at trykke på linket, kan du prøve at kopiere linket og indsætte det i din ynglings browser.

  De bedste hilsner:
  Markus Glavind og Seniorkursus Sletten
{% endautoescape %}