<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h2>Hej {{ volunteer.first_name }}! </h2>
    <p>Du får den her email, fordi du er tilmeldt som medarbejder på Seniorkursus Sletten</p>
    <p>For at holde styr på alle bestillinger af sjak's sager, teknik's ting, aktivitetsteamets aktiviteter og andet, har vi fået et nyt booking system. Der er allerede lavet en bruger til dig, så du skal bare ind og lave et nyt kodeord</p>
    <p>Til at nulstille kodeordet skal du bruge følgende: </p>
    <ul>
        <li>Email: {{ volunteer.email }} (små bogstaver) </li>
        <li>Brugernavn: {{ volunteer.username }} (små bogstaver)</li>
        <li>Team: {{ first_team.name }} </li>

    </ul>
    <p>Du kan klikke på linket herunder, for at hoppe direkte til nulstilling af kodeordet:</p>
    <p><a href="https://booking.seniorkursussletten.dk/organization/password-reset">Nulstil kodeord</a></p>

    <p>OBS! Vær opmærksom på at der kan være udfordringer med ÆØÅ i kodeordet - så prøv at undgå det</p>

    <p>De bedste hilsner:</p>
    <p>Markus Glavind</p>
</body>
</html>