{% load bootstrap_icons %}
  <tr>
    <th scope="row">{{ booking.id}}</th>
    <td><a href="{{booking.get_absolute_url}}">{{booking.item}}</a>  </td>
    <td>{{booking.quantity}} </td>
    <td>{{booking.item}}</td>
    <td>{{booking.start}}</td>
    <td>{{booking.team_contact}}</td>
    <td>
        {% if booking.status == 'Pending' %}
            <span class="badge bg-warning text-dark">
                <small>Afventer</small>
            </span>
        {% elif booking.status == 'Approved' %}
            <span class="badge bg-success">
                <small>Godkendt</small>
            </span>
        {% elif booking.status == 'Rejected' %}
            <span class="badge bg-danger">
                <small>Afvist</small>
            </span>
        {% endif %}
    </td>
    <td>
        <a href="{% url 'Butikken_ButikkenBooking_update' booking.pk %}" class="btn btn-outline-warning btn-sm">
          {% bs_icon 'pencil' %}  
        </a>
        <a href="{% url 'Butikken_ButikkenBooking_delete' booking.pk %}" class="btn btn-outline-danger btn-sm">
          {% bs_icon 'trash' %}  
        </a>
    </td>
  </tr>



