{% load bootstrap_icons %}
<form  hx-post="{% url 'Butikken_ButikkenBooking_create_new' %}" hx-target="#booking-list" hx-swap="beforeend" hx-trigger="click from:#submit-all"
    hx-on="htmx:afterRequest: this.remove()">

    <div class="row"  style="height: 50px;">
        <div class="col-2 col-md-2">
            <label  for="item">Vare</label>
            <div class="input-group">
                {{ form.item }}
            </div>
        </div>
        <div class="col-1 col-md-1">
            <label for="{{form.quantity.id_for_label}}">Antal: </label>
            {{form.quantity}}
        </div>  

        <div class="col-1 col-md-2">
            <label for="{{form.start.id_for_label}}">Start: </label>
            {{form.start}}
        </div>
        <div class="col-2 col-md-2">
            <label for="{{form.team_contact.id_for_label}}">Kontakt: </label>
            <div class="input-group">
             {{form.team_contact}}
            </div>
        </div>
        <div class="col-2 col-md-2">
            <label for="{{form.team.id_for_label}}">Team: </label>
            {{form.team}}
        </div>
        <div class="col-2 col-md-2" >
            <label for="{{form.remarks.id_for_label}}">Bemærkninger: </label>
            {{form.remarks}}
        </div>
        <div class="col-1 align-self-end">
            <button type="button" class="btn btn-danger" hx-on="click: this.closest('form').remove() ">Fjern</button>
        </div>
    </div>
</form>