<tr id="meal-plan-{{ meal_plan.id }}">
    <th scope="row">id</th>
    <td>
        <p 
            hx-get="{% url 'edit_team_meal_plan' meal_plan.id %}"
            hx-target="this"
            hx-swap="outerHTML"
        >
            {{ meal_plan.name }}
        </p>
    </td>
    <td>
        <form
            hx-put="{% url 'update_team_meal_plan' team_meal_plan.id %}"
            hx-target="closest article"
            hx-swap="outerHTML"
        >
            <button class="btn btn-secondary">
                Done
            </button>
        </form>
    </td>
    <td>
        
    </td>
</tr>