{% extends "base.html" %}
{% block content %}
</br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for object in object_list %}
    <div class="col">
      <div class="card h-100">
        {% if object.image %}
        <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.name }}">
        {% endif %}
        <div class="card-body"> 
          <h5 class="card-title">
            {{ object.name }}
          </h5>
          <p class="card-text">
            {{ object.short_description }} 
          </p>
          <a href="{{object.get_absolute_url}}" class="btn btn-primary">Se mere</a>
          <a href="{% url 'AktivitetsTeam_AktivitetsTeamBooking_create_with_item' object.id %}" class="btn btn-primary">Book mig!</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<br>
{% endblock %}




    


