{% extends "base.html" %}
{% load static %}

    
{% block title %}
    Forms
{% endblock %}

{% block content %}
{% load bootstrap_icons %}
{% load bootstrap5 %}

<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Hjem</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Butikken_ButikkenBooking_list' %}">Butikkenbestillinger</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ny bestilling </li>
    </ol>
</nav>

<h1 class="display-3" >Butikken</h1>
{% if user.is_authenticated %}
<p>Deadline for butik bestillinger: <mark> {{user.events.first.deadline_mad}} </mark>.</p>
{% endif %}

<div class="alert alert-warning" role="alert">
    <h5> Deltagere og mængder </h5>
    <p> Når i laver en booking, skal i booke opskriften til <span class="badge bg-secondary">2 personer</span>. Køkkenet ganger jeres bestilling op senere. </p>
    <p> Er jeres booking ikke afhængig af deltagerantal? Så skriv det i bemærkninger </p>
</div>



<h3 class="display-5" >Jeres bestillinger</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Antal</th>
        <th scope="col">Til</th>
        <th scope="col">Booket af</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="booking-list">

        {% for booking in bookings %}
        {% include 'Butikken/partials/booking.html' %}

        {% endfor %}
    </tbody>

</table>



<h3 class="display-5" >Tilføj ny bestilling</h3>





<div id="butikken-forms">
    {%include 'Butikken/partials/form.html' %}
</div>

<div class="my-4">
    <button type="button" class="btn btn-success" 
    hx-get="{% url 'Butikken_ButikkenBooking_create_new' %}"
    hx-target="#butikken-forms"
    hx-swap="beforeend"
    >
        + Tilføj vare</button>

    <button type="button" id="submit-all" class="btn btn-primary" 
    hx-get="{% url 'Butikken_ButikkenBooking_create_new' %}"
    hx-target="#butikken-forms"
    hx-swap="beforeend"
    >
        Indsend alle</button>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const setPredefinedStartButton = document.getElementById("set-predefined-start");
        const startField = document.getElementById("start");

        setPredefinedStartButton.addEventListener("click", function () {
            startField.value = "2023-10-14T08:00"; // Replace with your predefined value for start
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const setItemDetails = document.getElementById("set-item-details");
        const ItemField = document.getElementById("item");

        setPredefinedStartButton.addEventListener("click", function () {
            ItemField.value = "test"; // Replace with your predefined value for start
        });
    });
</script>


{% endblock %}

